In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
df = spark.read.csv("/Users/amirhossein/Desktop/all/Uni/MS/rahnama/recommander/data/data1/recommender/train_interactions.csv",
                    header="true")

In [3]:
df.show()

+--------+--------+-----------+---------------+----------------+---------------+------------+-------------+------------+
| user_id|notif_id|interaction|interaction_dow|interaction_hour|interaction_min|delivery_dow|delivery_hour|delivery_min|
+--------+--------+-----------+---------------+----------------+---------------+------------+-------------+------------+
|  654408|  468552|          0|              1|               1|             57|           1|            1|          55|
| 9272634|  517721|          0|              1|               0|             15|           1|            0|           1|
|  380089|  519842|          0|              1|               0|             21|           1|            0|          20|
| 2586969|  410941|          0|              1|               2|             12|           1|            1|          57|
|  491160|  463087|          0|              1|               1|             37|           1|            1|          27|
| 1581663|  464259|          0|              1|               1|             54|           1|            1|          43|
| 1170897|  461570|          0|              1|               0|             20|           1|            0|          19|
|  897872|  521444|          0|              1|               1|              6|           1|            0|          29|
| 1644236|  517398|          0|              1|               0|             27|           1|            0|          26|
|10908202|  464245|          0|              1|               0|             55|           1|            0|          46|
|10647968|  463092|          0|              1|               0|             33|           1|            0|          33|
|10274938|  521728|          0|              1|               2|             43|           1|            0|          11|
|10387291|  473092|          0|              2|               2|             31|           1|           23|          19|
| 4794377|  463092|          1|              1|               2|              8|           1|            1|          48|
| 6726471|  414617|          0|              2|               0|              2|           1|           23|          40|
| 5873495|  494034|          0|              2|               0|             12|           1|           23|          38|
| 7658659|  521068|          0|              1|               1|             15|           1|            1|          11|
| 8759798|  420863|          0|              1|               0|             25|           1|            0|          22|
|10272948|  463254|          0|              1|               0|             57|           1|            0|          57|
| 5245236|  521158|          1|              1|               1|             16|           1|            0|           4|
+--------+--------+-----------+---------------+----------------+---------------+------------+-------------+------------+
only showing top 20 rows

In [4]:
df.filter(df['interaction']>0).show()

+--------+--------+-----------+---------------+----------------+---------------+------------+-------------+------------+
| user_id|notif_id|interaction|interaction_dow|interaction_hour|interaction_min|delivery_dow|delivery_hour|delivery_min|
+--------+--------+-----------+---------------+----------------+---------------+------------+-------------+------------+
| 4794377|  463092|          1|              1|               2|              8|           1|            1|          48|
| 5245236|  521158|          1|              1|               1|             16|           1|            0|           4|
| 5800304|  473092|          1|              2|               0|             26|           1|           23|          27|
|  382518|  521597|          1|              1|               1|             59|           1|            1|          58|
| 5503073|  465122|          1|              1|               1|              7|           1|            1|           6|
| 1093731|  472884|          1|              2|               1|              1|           1|           23|          51|
| 6244860|  473092|          1|              2|               5|             25|           1|           23|          25|
| 1757815|  473092|          1|              2|               4|             40|           1|           23|          10|
| 9604411|  473092|          1|              2|               7|             20|           1|           23|          29|
| 1494381|  520062|          1|              1|               1|             29|           1|            1|          27|
| 4186553|  461524|          1|              1|               0|             45|           1|            0|          40|
| 9388659|  464670|          1|              1|               1|             31|           1|            1|          30|
| 1209819|  465047|          1|              1|               0|             12|           1|            0|          12|
| 3636314|  521902|          1|              1|               0|             53|           1|            0|          40|
|  131064|  463944|          1|              1|               1|             13|           1|            1|          11|
| 2214720|  473092|          1|              2|               4|             36|           1|           23|          15|
| 8341006|  522255|          1|              1|               1|             54|           1|            0|          42|
| 1869460|  517254|          1|              1|               1|             47|           1|            1|          25|
|10550563|  466105|          1|              1|               1|             25|           1|            1|          24|
| 2669954|  423455|          1|              1|               4|             38|           1|            1|          37|
+--------+--------+-----------+---------------+----------------+---------------+------------+-------------+------------+
only showing top 20 rows

In [9]:
print(df.printSchema())

root
 |-- user_id: string (nullable = true)
 |-- notif_id: string (nullable = true)
 |-- interaction: string (nullable = true)
 |-- interaction_dow: string (nullable = true)
 |-- interaction_hour: string (nullable = true)
 |-- interaction_min: string (nullable = true)
 |-- delivery_dow: string (nullable = true)
 |-- delivery_hour: string (nullable = true)
 |-- delivery_min: string (nullable = true)

None

In [10]:
print(df.head(5))

[Row(user_id='654408', notif_id='468552', interaction='0', interaction_dow='1', interaction_hour='1', interaction_min='57', delivery_dow='1', delivery_hour='1', delivery_min='55'), Row(user_id='9272634', notif_id='517721', interaction='0', interaction_dow='1', interaction_hour='0', interaction_min='15', delivery_dow='1', delivery_hour='0', delivery_min='1'), Row(user_id='380089', notif_id='519842', interaction='0', interaction_dow='1', interaction_hour='0', interaction_min='21', delivery_dow='1', delivery_hour='0', delivery_min='20'), Row(user_id='2586969', notif_id='410941', interaction='0', interaction_dow='1', interaction_hour='2', interaction_min='12', delivery_dow='1', delivery_hour='1', delivery_min='57'), Row(user_id='491160', notif_id='463087', interaction='0', interaction_dow='1', interaction_hour='1', interaction_min='37', delivery_dow='1', delivery_hour='1', delivery_min='27')]

In [11]:
print(df.count())

98403133

In [12]:
print(df.describe().show())

+-------+-----------------+------------------+-------------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|summary|          user_id|          notif_id|        interaction|  interaction_dow|  interaction_hour|   interaction_min|      delivery_dow|     delivery_hour|      delivery_min|
+-------+-----------------+------------------+-------------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|  count|         98403133|          98403133|           98403133|         98403133|          98403133|          98403133|          98403133|          98403133|          98403133|
|   mean|5556027.628483699|469413.31764555705|0.06169621652188655|3.742204386927396|13.636956386337822| 29.69880084000984|3.7360501214935913|13.455839114390798|29.480670335973958|
| stddev|3274300.716310788|32474.539193937173|0.24060297998375296|2.042625442695733| 4.718317102998932|17.215782658019496| 2.049119355824648| 4.519205216408576| 16.93650362061394|
|    min|               10|            406173|                  0|                1|                 0|                 0|                 1|                 0|                 0|
|    max|          9999859|            525560|                  1|                7|                 9|                 9|                 7|                 9|                 9|
+-------+-----------------+------------------+-------------------+-----------------+------------------+------------------+------------------+------------------+------------------+

None

In [13]:
print(df.select('user_id').distinct().count())

2589286

2589286

In [4]:
df1=df.filter(df['interaction']>0)

In [8]:
print(df1.count())

6071101

In [9]:
print(df1.select('user_id').distinct().count())

1697006

In [15]:
df2=df1.select('user_id','notif_id')

In [12]:
print(a)

<pyspark.sql.group.GroupedData object at 0x1102578d0>

In [14]:
a['notif_id']

TypeError: 'GroupedData' object is not subscriptable

In [18]:
print(df2.select('user_id').distinct().count())

1697006

In [20]:
q=df2.groupby('user_id')

In [21]:
print()

AttributeError: 'GroupedData' object has no attribute 'select'

In [22]:
import pandas as pd

In [23]:
df2.toPandas().to_csv('mycsv.csv')