In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv('/Users/vahid/data/recommender/train_interactions.csv')

In [3]:
train_df.head()

,user_id,notif_id,interaction,interaction_dow,interaction_hour,interaction_min,delivery_dow,delivery_hour,delivery_min
0,654408,468552,0,1,1,57,1,1,55
1,9272634,517721,0,1,0,15,1,0,1
2,380089,519842,0,1,0,21,1,0,20
3,2586969,410941,0,1,2,12,1,1,57
4,491160,463087,0,1,1,37,1,1,27

In [4]:
train_df_ones = train_df[train_df.interaction == 1]