In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import math

In [2]:
np.sqrt(3)

1.7320508075688772

In [7]:
test_df = pd.read_csv('/Users/vahid/data/recommender/test.csv.gz')

In [13]:
def creat_submission(filename, data):
    out = ''
    for item in tqdm(data):
        out += "%s\n" % item ** 0.5
    with open(filename, 'w') as f:
        f.write(out)

In [4]:
user_rate_df = pd.read_csv('../data/user_rate.csv').set_index('user_id')
notif_rate_df = pd.read_csv('../data/grouped_by_notif.csv')
categories_rate_date = pd.read_csv('../data/categories_rate.csv')

In [5]:
user_rate_df.head()

             rate
user_id
3        0.038462
4        0.000000
7        1.000000
8        0.054795
9        0.043478

In [8]:
test_df.head()

   user_id  notif_id
0  8118012    525640
1  8077471    528428
2  3593257    528037
3  7250906    526292
4  7885672    526710

In [9]:
# test_df['a'] = np.zeros([test_df.shape[0]])
test_df.head()

   user_id  notif_id
0  8118012    525640
1  8077471    528428
2  3593257    528037
3  7250906    526292
4  7885672    526710

In [10]:
probs = np.zeros([test_df.shape[0]])
average_user_rate = user_rate_df.rate.values.mean()
def ff(x):
    if x in user_rate_df.index:
        return user_rate_df.loc[x]
    else:
        return average_user_rate
user_values = np.zeros([test_df.shape[0]])    
for index, row in tqdm(test_df.iterrows()):
    user_values[index] = ff(row.user_id)
test_df['submission_user_effect'] = user_values

10928823it [27:24, 6646.88it/s]

In [11]:
test_df.head()

   user_id  notif_id  submission_user_effect
0  8118012    525640                0.028986
1  8077471    528428                0.000000
2  3593257    528037                0.011364
3  7250906    526292                0.020833
4  7885672    526710                0.100000

In [14]:
creat_submission('../subs/only_user_rate_effect_squared.txt', test_df.submission_user_effect.values)

100%|██████████| 10928823/10928823 [00:14<00:00, 776041.86it/s]

In [106]:
notif_categories_values = np.zeros([test_df.shape[0]])

for index, row in tqdm(test_df.iterrows()):
    notif_categories_values[index] = categories_rate_date(notif2cat[int(row.notif_id)])
#     print(notif2cat[int(row.notif_id)],categories_rate_date(int(notif2cat[row.notif_id])))
    break

test_df['submission_notif_category_effect'] = notif_categories_values

0it [00:00, ?it/s]

KeyError: 525640